.nav-link:hover{
    color:magenta;

} 

.navbar {
    box-shadow: 0 3px 9px 3px rgb(19, 3, 3);

}


h1{
    text-shadow: 0 0 3px #FF0000;
    font-size:60px;
    color: cyan;
    
}

.btn {
    text-align: center
}


